<section class="lede section--padding-both">
  <div class="container">
    <p>Welcome to the DevMountain Front End Developer assessment. Looks like your routing is working</p>
  </div>
</section>
<section class="categories section--padding-bottom">
  <div class="container container--medium">
    <div class="category bg-green-light">
      <h2 class="category__title section__title section__title--alt">Pets</h2>
      <p class="category__description">Super awesome pets that will change your entire life</p>
      <a class="btn" ui-sref="pets">Shop pets</a>
      <!--https://upload.wikimedia.org/wikipedia/commons/8/8c/Sleeping_Pups.jpg-->
      <a class="category__background" style="background-image: url('../img/Sleeping_Pups.jpg');"></a>
    </div>
  </div>
</section>
